{% extends "base.html" %}

{% block content %}
<h1>Оборудование типа: {{ equipment_type }}</h1>
<ul>
    {% for equipment in equipment_list %}
        <li>
            {{ equipment.name }} ({{ equipment.model }}) 
            - <a href="{% url 'equipment:equipment_schedule' equipment.id %}">Посмотреть расписание</a>
        </li>
    {% empty %}
        <li>Нет оборудования данного типа.</li>
    {% endfor %}
</ul>
<a class="btn btn-secondary" href="{% url 'equipment:index' %}">Назад к списку оборудования</a>
{% endblock %}
