{% extends 'base.html' %}

{% block title %}О системе{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="mb-4">О системе</h1>
    <p class="mb-3">
      Добро пожаловать в систему планирования и отслеживания технического обслуживания и ремонта оборудования. 
      Эта система предназначена для автоматизации рутинных операций по техническому обслуживанию, планированию и учету ТО, ТР и КР.
      </p>
      <p class="mb-3">
        Система позволяет вести учет расписаний, стандартов и оборудования, а также планировать ТО, ТР и КР для производственного оборудования.
      </p>
      <h2 class="mt-4 mb-3">Описание технического обслуживания и ремонта</h2>
      
      <div class="card mb-3">
        <div class="card-header bg-light">
          <strong>Технический осмотр (ТО)</strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Технический осмотр (ТО) представляет собой регулярную проверку состояния оборудования с целью выявления потенциальных проблем и их устранения до возникновения более серьезных неисправностей. ТО помогает продлить срок службы оборудования и уменьшить вероятность дорогостоящего ремонта.
          </p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header bg-light">
          <strong>Технический ремонт (ТР)</strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Технический ремонт (ТР) — это комплекс работ по восстановлению работоспособности оборудования, устранению неисправностей и замене изношенных компонентов.
          </p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header bg-light">
          <strong>Капитальный ремонт (КР)</strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Капитальный ремонт (КР) представляет собой глубокую и тщательную реконструкцию оборудования, включающую полную разборку, замену основных компонентов и обновление устаревших технологий. КР проводится при значительных сроках эксплуатации и износе оборудования, когда его дальнейшая эксплуатация без ремонта невозможна.
          </p>
        </div>
      </div>
      <div class="text-center mt-4">
        <a href="/" class="btn btn-secondary">Вернуться на главную</a>
      </div>
   </div>
</div>
{% endblock %}